name: build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: ^3.10
      id: python

    - name: Install Python packages
      run: pip install toml yapf black pylint

    - name: Check out code
      uses: actions/checkout@v4

    - name: Create (dummy) .venv virtual environment
      run: |
         pwd
         python -m venv .venv
         ls -la

    - name: Build
      run: |
         pwd
         ls -la
         make build-all
